<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dandy</title>

    <!--- Favicon --->
    <link rel="shortcut icon" href="css/favicon.png">

    <!--- Stylesheets --->
    <link rel="stylesheet" href="css/hint.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Poiret+One|Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="css/vuetify.css">
    <link rel="stylesheet" href="css/index.css">

    <!-- Javascript --->
    <script src="js/vue.js"></script>
    <script src="js/vuetify.js"></script>
    <script src="js/vue-carousel.min.js"></script>

    <!--- Characters --->
    <script>
        const characters = []

    </script>
    <script src="js/Characters/rhys.js"></script>
    <script src="js/Characters/jude.js"></script>
    <!---
    <script src="js/Characters/alauntel.js"></script>
    <script src="js/Characters/cinaed.js"></script>
    <script src="js/Characters/evren.js"></script>
    <script src="js/Characters/micaiah.js"></script>
    <script src="js/Characters/minna.js"></script>
    <script src="js/Characters/shae.js"></script>
    <script src="js/Characters/siorus.js"></script>
    <script src="js/Characters/jun.js"></script>
    --->


    <script src="js/index.js"></script>

</head>

<body>
    <div id="app">
        <carousel class="character-select" v-bind:class="{ selected: selectedcharacter != '' }" v-bind:pagination-enabled="displayprofile" :per-Page="1" :loop="true">
            <slide v-show="selectedcharacter == '' || selectedcharacter == character.name" v-for="character in characters" :title="character.name" :character="character.name" :key="character.name">
                <div class="character-container" v-bind:class="{ selected: selectedcharacter == character.name }" v-bind:style="{borderColor: 'hsl(' + character.color + ')'}">
                    <div class="character">
                        <img :src="character.img">
                        <div class="content"> {{character.name}}

                            <v-btn v-if="selectedcharacter == character.name" fab large outline color="#fefefe" v-on:click="selectedcharacter = ''"><i class="fas fa-angle-down"></i></v-btn>
                            <v-btn v-else fab large outline color="#fefefe" v-on:click="selectedcharacter = character.name"><i class="fas fa-angle-up"></i></v-btn>

                        </div>

                        <div class="sheet"> 
                            <div class="row"><div class="col s7 header">
           
                                <ul class="tabs">
                                    <input type="radio" name="tabs" id="tabHome" class="tab" checked="checked">
                                        <i class="fas fa-home"></i>
                                        <label for="tabone">Tab Home</label>
                                    <input type="radio" name="tabs" id="tabStats" class="tab">
                                        <i class="fas fa-id-card"></i>
                                        <label for="tabone">Tab Statistics</label>
                                    <input type="radio" name="tabs" id="tabProfs" class="tab">
                                        <i class="fas fa-star"></i>
                                        <label for="tabone">Tab Proficiencies</label>
                                    <input type="radio" name="tabs" id="tabInv" class="tab">
                                        <i class="fas fa-suitcase"></i>
                                        <label for="tabone">Tab Inventory</label>
                                    <input type="radio" name="tabs" id="tabSpell" class="tab">
                                        <i class="fas fa-book"></i>
                                        <label for="tabone">Tab Spellbook</label>

                                    <input type="radio" name="tabs" id="tabCaern" class="tab">
                                        <i class="fas fa-crow"></i>
                                        <label for="tabone">Tab Caernon</label>
                                </ul>
                            </div>
        
                            <div id="Home" class="col s7 tab-content">Tab 1></div>
    
                            <div id="Statistics" class="col s7 tab-content">Tab 2</div>
    
                            <div id="Proficiencies" class="col s7 tab-content">Tab 3</div>
    
                            <div id="Inventory" class="col s7 tab-content">Tab 4</div>
    
                            <div id="Spellbook" class="col s7 tab-content">Tab 5</div>
    
                            <div id="Caernon" class="col s7 tab-content">Tab 6</div>
                          </div>
                        </div>
                        
                    </div>
                </div>
            </slide>

        </carousel>
        <h1 class="character-select-header" v-if="selectedcharacter == ''"> Character Select </h1>

    </div>
</body>

</html>
